body {
    margin: 0;
}

.all {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
}

.main_div {
    width: 400px;
    height: 850px;
    left: 95px;
    top: 316px;
    margin-top: 60px;
    margin-bottom: 90px;
    background: #2F9A54;
    border-radius: 25px;
}

.name_block {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    /* background: #696969; */
}


h1 {
   font-size: 20px;
   font-family: 'Segoe UI';
   font-weight:400;
   color: white;
   margin-top: 50px;
   margin-right: 0px;
}

.info_block{
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    /* background-color: burlywood; */
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.place_info {
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 0px;
    margin-left: 0px;
    padding-bottom: 50px;
}

.info_block_text {
    font-size: 15px;
    font-family: 'Segoe UI';
    font-weight:400;
    color: white;
    /* padding-top: 8px; */
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    /* background: rgb(146, 119, 115); */
    margin-top: 20px;
    order: -1;
}

.description .info_block_text {
    width: 300px;
    font-size: 20px;
    text-align: center;
    margin-top: -50px;
}

.photo_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-top: -5px;
    border-radius: 22px;
    border: 1px solid #000000;
    overflow: hidden;
}

.photo {
    height: 100%;
    width: 100%;
}

/* форма */

.form_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    /* background-color: royalblue; */
    margin-top: -60px;
}

.distance {
    width: 100%;
    text-align: center;
    font-size: 17px;
}


.input_block {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    /* background: chartreuse; */
    margin-top: 30px;
    width: 400px;
}


.custom_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom_checkbox:hover + label {
    background: #dadada;
}

.custom_checkbox + label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    margin-left: 18px;
    width: 90px;
    height: 31px;
    background: rgb(255, 255, 255);
    color: #2b834a;
    font-size: 15px;
    font-family: 'Segoe UI';
    border-radius: 10px;
    transition: all ease 0.3s;
}

.custom_checkbox:checked + label{
    background: #25692c;
    color: #ffffff;
}

