/* Общее */
html{
    font-family: Segoe UI;
}

body {
    margin: 0;
    min-height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
}

.all {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
}

header {
    margin-left: 10px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 10px;
    margin-top: 20px;
}

.all_header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
}

.logo {
    height: 80px;
}

.buttonSignInLogIn {
    max-width: 290px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-self: end;
    transition: all ease 0.3s;
}

.buttonLogIn {
    size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    height: 40px;
    width: 75px;
    box-shadow: 0 0 4px -4px rgba(0, 0, 0, 0.25);
    transition: all ease 0.3s;
}

.buttonLogIn:hover {
    transform: translate(0, -5px);
    box-shadow: 0 5px 3px 4px rgba(0, 0, 0, 0.25);
}

.buttonSignIn {
    width: 160px;
    height: 40px;
    border-radius: 18px;
    background-blend-mode: darken;
    size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18AB39;
    transition: all ease 0.3s;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.buttonSignIn:hover {
    transform: translate(0, -5px);
    box-shadow: 0 5px 3px 4px rgba(0, 0, 0, 0.25);
}

.line_header {
    width: 100%;
    height: 1px;
    background-color: #696969;
    margin-bottom: 30px;
}

footer {
    margin-top: auto;
}

.footer_logo_line {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.three_collums {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo_footer {
    width: 180px;
}

.line {
    width: calc((100% - 220px) / 2);
    height: 1px;
    background-color: black;
}

.download_app {
    width: 350px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.app {
    height: 40px;
    border-radius: 8px;
    margin: 10px;
}

.soc_networks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin: 20px;
}

.socs {
    width: 30px;
    height: 30px;
}

.contacts {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.row_footer {
    font-size: 15px;
    margin: 3px;
    color: black;
    transition: all 0.2s
}

.row_footer:hover {
    color: grey;
}

.copywrite {
    font-size: 11px;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 30px;
}
/* Общее */

/* основная часть */
body {
    margin: 0;
}

.all {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
}

.main_div {
    width: 400px;
    height: 850px;
    left: 95px;
    top: 316px;
    margin-top: 60px;
    margin-bottom: 90px;
    background: #2F9A54;
    border-radius: 25px;
}

.name_block {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    /* background: #696969; */
}


h1 {
   font-size: 20px;
   font-family: 'Segoe UI';
   font-weight:400;
   color: white;
   margin-top: 50px;
   margin-right: 0px;
}

.info_block{
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    /* background-color: burlywood; */
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.place_info {
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 0px;
    margin-left: 0px;
    padding-bottom: 50px;
}

.info_block_text {
    font-size: 15px;
    font-family: 'Segoe UI';
    font-weight:400;
    color: white;
    /* padding-top: 8px; */
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    /* background: rgb(146, 119, 115); */
    margin-top: 20px;
    order: -1;
}

.description .info_block_text {
    width: 300px;
    font-size: 20px;
    text-align: center;
    margin-top: -50px;
}

.photo_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-top: -5px;
    border-radius: 22px;
    border: 1px solid #000000;
    overflow: hidden;
}

.photo {
    height: 100%;
    width: 100%;
}

/* форма */

.form_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    /* background-color: royalblue; */
    margin-top: -60px;
}

.distance {
    width: 100%;
    text-align: center;
    font-size: 17px;
}


.input_block {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    /* background: chartreuse; */
    margin-top: 30px;
    width: 400px;
}


.custom_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom_checkbox:hover + label {
    background: #dadada;
}

.custom_checkbox + label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    margin-left: 18px;
    width: 90px;
    height: 31px;
    background: rgb(255, 255, 255);
    color: #2b834a;
    font-size: 15px;
    font-family: 'Segoe UI';
    border-radius: 10px;
    transition: all ease 0.3s;
}

.custom_checkbox:checked + label{
    background: #25692c;
    color: #ffffff;
}

.sub {
    padding-top: 15px;
    width: 100%;
    height: 50px;
    /* background: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub input {
    width: 230px;
    height: 35px;
    border-radius: 10px;
    border: none;
    color:#2b834a;
    font-size: 23px;
    margin-top: 10px;
    font-family: 'Segoe UI';
    transition: all ease 0.3s;
}

.sub input:hover {
    background: #dadada;
}
/* форма */

/* основная часть */
