h1 {
    font-size: 38px;
    text-align: center;
    margin: 0;
}

.card {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 16px;
    background-color: #2F9A54;
    padding: 20px;
    transition: all 0.3s;
    margin-top: 30px;
}

.card_white {
    background-color: #ffffff;
}

.card:hover {
    background-color: #31A256;
}

.card_white:hover {
    background-color: #f0f0f0;
}

.row {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collum1 {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.collum2 {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    justify-content: space-around;
}

.collum2_white {
    color: #2F9A54;
}

.more {
    height: 43px;
    width: 154px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    background-color: white;
    font-size: 15px;
    color: #2F9A54;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    margin: 20px;
    box-shadow: 0 0 4px -4px rgba(0, 0, 0, 0.25);
    transition: all ease 0.3s;
    text-decoration: none;
}

.more_white {
    background-color: #2F9A54;
    color: white;
}

.more:hover {
    transform: translate(0, -5px);
    box-shadow: 0 5px 3px 4px rgba(0, 0, 0, 0.25);
}
