.card_ {
    max-width: 800px;
    width: 100%;
    height: 185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 16px;
    background-color: #2F9A54;
    padding: 23px 20px 23px 27px;
    transition: all 0.3s;
    margin-top: 56px;
}

.card_:hover {
    background-color: #31A256;
}

.collum1_ {
    width: 135px;
    height: 135px;
    border-radius: 12px;
}

.collum2_ {
    height: 135px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: white;
    justify-content: space-around;
}

.collum3_ {
    height: 135px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    justify-content: space-around;
}

.row_ {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 780px;
    /*    display: flex;
        flex-direction: column;
        justify-content: left;*/
    border-radius: 15px;
    border: 1px solid #979797;
    background-color: #DBDBDB;
}

.row_table {
    width: 780px;
    size: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.row_table:nth-child(2n) {
    background-color: #A2D8AE;
}

.row_table:last-of-type {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.number {
    width: 60px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fio {
    width: 470px;
    min-height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.race_time {
    width: 120px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.age {
    width: 130px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.megal {
    position: absolute;
    left: -40px;
    height: 30px;
    width: 30px;
}

.control {
    display: flex;
    justify-content: center;
}

.control button {
    font-size: 18px;
    height: 35px;
    width: 80px;
    border-radius: 4px;
    color: white;
    background-color: #2F9A54;
    border: 1px solid #979797;
    margin: 20px;
    transition: all 0.3s;
}

.control button:hover {
    background-color: #31A256;
}
